<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio || Souvik Roy</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    <!-- custom css file link  -->
    <link rel="stylesheet" href="../css/style.css">

</head>

<body>

    <!-- header section starts  -->

    <header>

        <div id="menu-bars" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#services">services</a>
            <a href="#portfolio">portfolio</a>
            <a href="#blogs">blogs</a>
            <a href="#contact">contact</a>
        </nav>

    </header>

    <!-- header section ends -->

    <!-- home section starts  -->

    <section class="home" id="home">

        <div id="particles-js"></div>

        <div class="content">
            <img class="tilt" src="../images/home-pic.jpg" alt="">
            <h3> SOUVIK <span>ROY</span> </h3>
            <p> i am a <span class="typing-text"> </span> </p>
            <a href="#about" class="btn">about me</a>
        </div>

    </section>

    <!-- home section ends -->

    <!-- about section starts  -->

    <section class="about" id="about">

        <h1 class="heading"> about <span>me</span> </h1>

        <div class="row">

            <div class="image">
                <img class="tilt" src="../images/pic-2.jpg" alt="">
            </div>

            <div class="content">
                <h3> my name is <span> Souvik </span>Roy </h3>
                <p class="info">Hi there! I am a MERN Stack Developer though I am better at Front End Development. Below
                    you can see
                    some of my projects. If you like them go to the contact section and let me know your reviews. I am a
                    freelancer also you
                    can hire me, just drop a mail, Thanks!
                </p>
                <div class="box-container">
                    <div class="box">
                        <p> <span> age: </span> 21 </p>
                        <p> <span> gender: </span> male </p>
                        <p> <span> experience : </span> 2 years </p>
                        <p> <span> freelance : </span> available </p>
                    </div>
                    <div class="box">
                        <p> <span> language : </span> Bengali / hindi / english </p>
                        <p> <span> phone : </span> +91 9330141035 </p>
                        <p> <span> email : </span> roysouvik5054@gmail.com </p>
                        <p> <span> address : </span> Kolkata, india - 700049 </p>
                    </div>
                </div>
                <a href="../SouvikRoy_InternshalaResume.pdf" class="btn">download CV</a>
            </div>

        </div>

    </section>

    <!-- about section ends -->

    <!-- services section starts  -->

    <section class="services" id="services">

        <h1 class="heading white"> <span> my </span> services </h1>

        <div class="box-container">

            <div class="box tilt">
                <i class="fas fa-code"></i>
                <h3>web development</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
            </div>

            <div class="box tilt">
                <i class="fas fa-paint-brush"></i>
                <h3>graphic design</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
            </div>

            <div class="box tilt">
                <i class="fas fa-bullhorn"></i>
                <h3>seo marketing</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
            </div>

            <div class="box tilt">
                <i class="fas fa-envelope"></i>
                <h3>email marketing</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
            </div>

            <div class="box tilt">
                <i class="fas fa-mobile"></i>
                <h3>Responsive designs</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
            </div>

            <div class="box tilt">
                <i class="fab fa-wordpress"></i>
                <h3>wordpress</h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
            </div>

        </div>

    </section>

    <!-- services section ends -->

    <!-- portfolio section starts  -->

    <section class="portfolio" id="portfolio">

        <h1 class="heading"> <span> my </span> portfolio </h1>

        <div class="box-container">

            <div class="box tilt">
                <img src="../images/pic-3.png" alt="">
                <div class="content">
                    <a href="https://souvik-roy3000.github.io/gnitmedia.github.io/index.html" class="btn">learn more</a>
                </div>
            </div>

            <div class="box tilt">
                <img src="../images/pic-9.png" alt="">
                <div class="content">
                    <a href="#" class="btn">learn more</a>
                </div>
            </div>

            <div class="box tilt">
                <img src="../images/pic-10.png" alt="">
                <div class="content">
                    <a href="#" class="btn">learn more</a>
                </div>
            </div>

            <div class="box tilt">
                <img src="../images/pic-5.png" alt="">
                <div class="content">
                    <a href="#" class="btn">learn more</a>
                </div>
            </div>

            <div class="box tilt">
                <img src="../images/pic-7.png" alt="">
                <div class="content">
                    <a href="#" class="btn">learn more</a>
                </div>
            </div>

            <div class="box tilt">
                <img src="../images/pic-6.png" alt="">
                <div class="content">
                    <a href="#" class="btn">learn more</a>
                </div>
            </div>

        </div>

    </section>

    <!-- portfolio section ends -->

    <!-- blogs section starts  -->

    <section class="blogs" id="blogs">

        <h1 class="heading white"> <span> my </span> blogs </h1>

        <div class="box-container">

            <div class="box tilt">
                <img src="../images/blog-img-1.jpg" alt="">
                <h3> blogs title goes here </h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam sint tenetur adipisci explicabo nisi
                    libero, in rerum earum. Dolor, quibusdam!</p>
                <a href="#" class="btn">learn more</a>
            </div>

            <div class="box tilt">
                <img src="../images/blog-img-2.jpg" alt="">
                <h3> blogs title goes here </h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam sint tenetur adipisci explicabo nisi
                    libero, in rerum earum. Dolor, quibusdam!</p>
                <a href="#" class="btn">learn more</a>
            </div>

            <div class="box tilt">
                <img src="../images/blog-img-3.jpg" alt="">
                <h3> blogs title goes here </h3>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam sint tenetur adipisci explicabo nisi
                    libero, in rerum earum. Dolor, quibusdam!</p>
                <a href="#" class="btn">learn more</a>
            </div>

        </div>

    </section>

    <!-- blogs section ends -->

    <!-- contact section starts  -->

    <section class="contact" id="contact">

        <h1 class="heading"> contact <span> me </span> </h1>

        <div class="row">

            <div class="image">
                <img class="tilt" src="../images/contact-img.svg" alt="">
            </div>

            <form action="/" method="POST">

                <div class="inputBox">
                    <input type="text" placeholder="name" name="name">
                    <input type="email" placeholder="email" name="email">
                </div>

                <input type="text" placeholder="subject" class="box" name="subject">

                <textarea placeholder="message" name="message" id="" cols="30" rows="10"></textarea>

                <input type="submit" class="btn" value="send message">

            </form>

        </div>

    </section>

    <!-- contact section ends -->

    <!-- footer section  -->

    <div class="footer"> created by <span> Souvik Roy </span> with love ❤️ </div>


    <!-- javascript part  -->

    <!-- typed.js link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>

    <!-- particles.js links  -->
    <script src="../js/particles.min.js"></script>
    <script src="../js/script.js"></script>

    <!-- vanilla-tilt.js link  -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>

    <script>

        let menu = document.querySelector('#menu-bars');
        let header = document.querySelector('header');

        menu.onclick = () => {
            menu.classList.toggle('fa-times');
            header.classList.toggle('active');
        }

        window.onscroll = () => {
            menu.classList.remove('fa-times');
            header.classList.remove('active');
        };

        var typed = new Typed('.typing-text', {
            strings: ['Photographer', 'Front end developer', 'Web designer', 'web developer', 'Video Editor', 'Photographer'],
            loop: true,
            typeSpeed: 150
        });

        VanillaTilt.init(document.querySelectorAll('.tilt'), {
            max: 25
        });

    </script>

</body>

</html>