<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio || Souvik Roy</title>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="icon" type="image/png" href="../images/favicon.gif" />

    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <div id="preloader">
        <div id="status">
        </div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>

    <header>

        <div id="menu-bars" class="fas fa-bars"></div>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#services">services</a>
            <a href="#portfolio">portfolio</a>
            <a href="#skills">skills</a>
            <a href="#contact">contact</a>
        </nav>

    </header>



    <section class="home" id="home">

        <div id="particles-js"></div>

        <div class="content">
            <img class="tilt" src="../images/home-pic.jpg" alt="">
            <h3> SOUVIK <span>ROY</span> </h3>
            <p> I am a <span class="typing-text"> </span> </p>
            <a href="#about" class="btn">about me</a>
        </div>

    </section>




    <section class="about" id="about">

        <h1 class="heading"> about <span>me</span> </h1>

        <div class="row">

            <div class="image">
                <img class="tilt" src="../images/pic-2.jpg" alt="">
            </div>

            <div class="content">
                <h3> my name is <span> Souvik </span>Roy </h3>
                <p class="info">Hi there! I am a MERN Stack Developer though I am better at Front End Development. Below
                    you can see
                    some of my projects. If you like them go to the contact section and let me know your reviews. I am a
                    freelancer also you
                    can hire me, just drop a mail, Thanks!
                </p>
                <div class="box-container">
                    <div class="box">
                        <p> <span> age: </span> 21 </p>
                        <p> <span> gender: </span> Male </p>
                        <p> <span> experience : </span> 2 years </p>
                        <p> <span> freelance : </span> Available </p>
                    </div>
                    <div class="box">
                        <p> <span> language : </span> Bengali / Hindi / English </p>
                        <p> <span> phone : </span> +91 9330141035 </p>
                        <p> <span> email : </span> roysouvik5054@gmail.com </p>
                        <p> <span> address : </span> Kolkata, india - 700049 </p>
                    </div>
                </div>
                <a href="../resume.pdf
                " class="btn">download CV</a>
            </div>

        </div>

    </section>



    <section class="services" id="services">

        <h1 class="heading white"> <span> my </span> services </h1>

        <div class="box-container">

            <div class="box tilt">
                <i class="fas fa-code"></i>
                <h3>web development</h3>
                <p>Open up your business to new possibilities, Custom websites at affordable prices.</p>
            </div>

            <div class="box tilt">
                <i class="fas fa-paint-brush"></i>
                <h3>graphic design</h3>
                <p>A creative designer to conceive and develop engaging integrated concepts and innovative
                    visual experiences.</p>
            </div>

            <div class="box tilt">
                <i class="fas fa-bullhorn"></i>
                <h3>seo marketing</h3>
                <p>The goal of SEO is not to rank #1. The goal is to generate leads and sales for your business.</p>
            </div>

            <div class="box tilt">
                <i class="fas fa-envelope"></i>
                <h3>email marketing</h3>
                <p>The goal isn’t to build a website. The goal is to build your business.</p>
            </div>

            <div class="box tilt">
                <i class="fas fa-mobile"></i>
                <h3>Responsive designs</h3>
                <p>Responsive Designs to create mobile & tablet friendly websites.</p>
            </div>

            <div class="box tilt">
                <i class="fab fa-wordpress"></i>
                <h3>wordpress</h3>
                <p>One small thing left… A smart and talented designer</p>
            </div>

        </div>

    </section>



    <section class="portfolio" id="portfolio">

        <h1 class="heading"> <span> my </span> portfolio </h1>

        <div class="box-container">

            <div class="box tilt">
                <img src="../images/pic-3.png" alt="">
                <div class="content">
                    <a href="https://souvik-roy3000.github.io/gnitmedia.github.io/index.html" class="btn">learn more</a>
                </div>
            </div>

            <div class="box tilt">
                <img src="../images/gnitfest.png" alt="">
                <div class="content">
                    <a href="https://gnitfest.in/" class="btn">learn more</a>
                </div>
            </div>

            <div class="box tilt">
                <img src="../images/amazon-clone.png" alt="">
                <div class="content">
                    <a href="https://amazon-clone3000.netlify.app/" class="btn">learn more</a>
                </div>
            </div>

            <div class="box tilt">
                <img src="../images/chatman.png" alt="">
                <div class="content">
                    <a href="chatman-424c6.web.app" class="btn">learn more</a>
                </div>
            </div>

            <div class="box tilt">
                <img src="../images/pic-7.png" alt="">
                <div class="content">
                    <a href="https://innovationatnewnormal.netlify.app/" class="btn">learn more</a>
                </div>
            </div>

            <div class="box tilt">
                <img src="../images/wheatherapp.png" alt="">
                <div class="content">
                    <a href="https://wheatherapp3000.netlify.app/" class="btn">learn more</a>
                </div>
            </div>

        </div>

    </section>


    <section class="skills" id="skills">

        <h1 class="heading white"> <span> my </span> Skills </h1>

        <div class="row">

            <div class="box-container">
                <div class="box">
                    <h3>2+</h3>
                    <p>years of experience</p>
                </div>
                <div class="box">
                    <h3>50+</h3>
                    <p>satisfied clients</p>
                </div>
                <div class="box">
                    <h3>190+</h3>
                    <p>working hours</p>
                </div>
                <div class="box">
                    <h3>10+</h3>
                    <p>awards won</p>
                </div>
            </div>

            {{!-- <div class="content">
                <h3>my name is <span>shaikh anas</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil hic eum magnam, ea nulla sit cumque
                    explicabo dolorem illo itaque?</p>
                <a href="#" class="btn">contact me</a>
            </div> --}}

        </div>

        <div class="row">

            <div class="progress">
                <h3> HTML <span>90%</span> </h3>
                <div class="bar bar-2-1"><span></span></div>
                <h3> CSS <span>80%</span> </h3>
                <div class="bar bar-2-2"><span></span></div>
                <h3> javascript <span>65%</span> </h3>
                <div class="bar bar-2-3"><span></span></div>
                <h3> Bootstrap<span>80%</span> </h3>
                <div class="bar bar-2-2"><span></span></div>
                <h3> UI/UX design <span>75%</span> </h3>
                <div class="bar bar-1-2"><span></span></div>

            </div>

            <div class="progress">

                <h3> React JS <span>65%</span> </h3>
                <div class="bar bar-2-3"><span></span></div>
                <h3> Node JS <span>75%</span> </h3>
                <div class="bar bar-1-2"><span></span></div>
                <h3> Express JS <span>80%</span> </h3>
                <div class="bar bar-2-2"><span></span></div>
                <h3> Mongo DB <span>75%</span> </h3>
                <div class="bar bar-1-2"><span></span></div>
                <h3> Rest API <span>65%</span> </h3>
                <div class="bar bar-2-3"><span></span></div>
            </div>

        </div>

    </section>





    <section class="contact" id="contact">

        <h1 class="heading"> contact <span> me </span> </h1>

        <div class="row">

            <div class="image">
                <img class="tilt" src="../images/contact-img.svg" alt="">
            </div>

            <form action="/" method="POST">

                <div class="inputBox">
                    <input type="text" placeholder="name" name="name">
                    <input type="email" placeholder="email" name="email">
                </div>

                <input type="text" placeholder="subject" class="box" name="subject">

                <textarea placeholder="message" name="message" id="" cols="30" rows="10"></textarea>

                <input type="submit" class="btn" value="send message">

            </form>

        </div>

    </section>



    <div class="footer"> created by <span> Souvik Roy </span> with love ❤️ </div>


    {{!-- javascript part --}}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>


    <script src="../js/particles.min.js"></script>
    <script src="../js/script.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>

    <script>

        let menu = document.querySelector('#menu-bars');
        let header = document.querySelector('header');

        menu.onclick = () => {
            menu.classList.toggle('fa-times');
            header.classList.toggle('active');
        }

        window.onscroll = () => {
            menu.classList.remove('fa-times');
            header.classList.remove('active');
        };

        var typed = new Typed('.typing-text', {
            strings: ['Photographer', 'Front end developer', 'Web designer', 'web developer', 'Video Editor', 'Photographer'],
            loop: true,
            typeSpeed: 150
        });

        VanillaTilt.init(document.querySelectorAll('.tilt'), {
            max: 25
        });

    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(window).load(function () { // makes sure the whole site is loaded
            $('#status').fadeOut(); // will first fade out the loading animation
            $('#preloader').delay(50).fadeOut(100); // will fade out the white DIV that covers the website.
            $('body').delay(50).css({ 'overflow': 'visible' });
        })
    </script>
</body>

</html>